<style>
table.details {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}

table.details td, table.details th {
  border: 1px solid #ddd;
  padding: 8px;
}

table.details tr.hoverable:nth-child(odd){
    background-color: #cacaca;
}

table.details tr.hoverable:hover {
    background-color: #ddd;
}

table.details th, table.details .title {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50 !important;
  color: white;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
}
</style>
<table class="details">
    <thead>
        <tr class="title">
            <th colspan="2">{{Name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr class="title">
            <td colspan="2">Headers</td>
        </tr>
        {{#each Headers}}
        <tr class="hoverable">
            <td>{{this.Key}}</td>
            <td>{{this.Value}}</td>
        </tr>
        {{/each}}
        <tr class="title">
            <td colspan="2">Endpoints</td>
        </tr>
        {{#each Endpoints}}
        <tr class="hoverable">
            <td>{{this.Key}}</td>
            <td>{{this.Value}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>