<h1>{{Name}}</h1>

<h1>Headers</h1>
<ul>
    {{#each Headers}}
        <li>{{this.Key}}:{{this.Value}}</li>
    {{/each}}
</ul>
<h1>Endpoints</h1>
<ul>
    {{#each Endpoints}}
        <li>{{this.Key}}:{{this.Value}}</li>
    {{/each}}
</ul>